{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="u-clearfix u-section-1" id="sec-d509">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" data-page-id="752105316"
           class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black
           u-text-hover-white u-btn-1">Вернуться назад</a>
    </div>
</div>

<div class="u-clearfix u-section-1">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1>Ваши последние действия:</h1>
        <ul>
            <li>Какое то действие</li>
            <li>Вас кто-то тегнул</li>
            <li>Вас обозвали петухом</li>
        </ul>
    </div>
</div>


<div class="u-clearfix u-section-1">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</div>
{% endblock %}
