{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <h1 class="mt-4">Профиль</h1>
    <div class="card mb-4">
        <div class="card-body">
                <img height="150" src="{{ MEDIA_URL }}{{ user.avatar_link }}" alt="">
                <br>Никнейм: {{ user.username }}
                <br>Имя: {{ user.first_name }}
                <br>Фамилия: {{ user.last_name }}
                <br>Адрес эл. почты: {{ user.email }}
        </div>
        {% if edit_visible == 'True' %}
            <div class="small"><a href="{% url 'auth:users_update'%}">Редактировать</a></div>
        {% endif %}

    </div>
{% endblock %}