{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <h1 class="mt-4">Профиль</h1>
    <div class="u-clearfix u-section-1">
    <a href="/" data-page-id="752105316" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">На главную</a>
    <a href="/article/create" data-page-id="353919755" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-2">Создать статью</a>
    </div>
        <h3 class="mt-4">Личная информация</h3>
        <div class="card mb-4">
            <div class="card-body">
                    <img height="150" src="{% if user.avatar_link %} {{ user.avatar_link.url }} {% endif %}" alt="">
                    <br>Никнейм: {{ user.username }}
                    <br>Имя: {{ user.first_name }}
                    <br>Фамилия: {{ user.last_name }}
                    <br>Адрес эл. почты: {{ user.email }}
                    <br>Обо мне:
                    <br>{{user.user_about}}
            </div>
            {% if edit_visible == 'True' %}
            <div class="btn btn-link"><a href="{% url 'auth:users_update' %}">Редактировать</a></div>
            {% endif %}
        </div>

<div>
    {% if request.user.is_superuser %}
        {% if not user.is_staff%}
        <div class="small"><a href="{% url 'moderation:change_moderator_status' user.pk %}">Назначить модератором</a></div>
        {% elif user.is_staff and not user.is_superuser %}
        <div class="small"><a href="{% url 'moderation:change_moderator_status' user.pk %}">Забрать права модератора</a></div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}