{% load static %}
<div class="" style="width:70%; margin-left:15%">
    {% for comment in comments %}
    {% if comment.is_parent %}
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div>
                <p class="post-text">
                    {{ comment.author}}
                </p>
                <p class="post-text">
                    {{ comment.created_at|date:"d.m.Y" }}  {{ comment.created_at|time:"H:i" }}
                </p>
            </div>
            <p>{{ comment.text }}</p>
            <!--            <a href="{% url 'mod:ban_article' comment.pk %}" class="delete">Заблокировать</a>-->
            {% if request.user.is_authenticated %}
                {% include "mainapp/includes/like.html" with model=comment text="лайк комментарию" %}
            {% endif %}

            <div class="d-flex flex-row">
                <div>
                    <button class="remove-default-btn">
                        <i class="far fa-comment-dots" onclick="commentReplyToggle('{{ comment.pk }}')">
                            комент к коменту
                        </i>
                    </button>
                </div>
            </div>
            <div class="row justify-content-center mt-3 mb-5 d-none" id="{{ comment.pk }}">
                <div class="col">
                    <form method="POST" action="{% url 'mainapp:comment-reply' article.pk comment.pk %}">
                        {% csrf_token %}
                        {{ form }}
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-dark">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        {% for child_comment in comment.children %}
        <div class="row justify-content-center mt-3 mb-5 child-comment" style="width:60%; margin-left:20%">
            <div class="col-md-5 col-sm-12 border-bottom">
                <div>
                    <p class="post-text">
                        {{ child_comment.created_at }}
                    </p>
                </div>
                <p>{{ child_comment.text }}</p>
                {% if request.user.is_authenticated %}
                    {% include "mainapp/includes/like.html" with model=child_comment text="лайк комментарию" %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% endif %}
    {% endfor %}

     <form method="POST" action="{% url 'mainapp:comment' article.pk %}">
        {% csrf_token %}
        <p>Коментарий к статье</p>
        {{ form }}
        <input type="submit" value="Submit"/>
    </form>
</div>
