{% load static %}

<div class="u-align-center">
<h3>Возможно, Вам так же будут интересны эти статьи</h3>
<section class="u-clearfix u-section-5" id="sec-b655">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json-->
        <!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-blog u-container-style u-expanded-width u-layout-horizontal u-blog-1">
            <div class="u-list-control"></div>
            <div class="u-repeater u-repeater-1"><!--blog_post-->
                {% for article in same_articles %}
                <div class="u-blog-post u-container-style u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                        <h4 class="u-blog-control u-text">
                            <a class="u-post-header-link" href="/article/{{ article.pk }}">
                                <!--blog_post_header_content-->{{article.title}}<!--/blog_post_header_content--></a>
                        </h4><!--/blog_post_header-->
                        <a class="u-post-header-link" href="/article/{{ article.pk }}"><!--blog_post_image-->
                            <img src="{% static 'images/{{ article.pk }}.jpeg' %}" alt=""
                                 class="u-blog-control u-expanded-width u-image u-image-default u-image-1">
                            <!--/blog_post_image-->
                        </a><!--blog_post_content-->
                        <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->Автор {{ article.author }}<!--/blog_post_content_content--></div><!--/blog_post_content-->
                    </div>
                </div><!--/blog_post--><!--blog_post-->
                {% endfor %}
            </div>
            <div class="u-list-control"></div>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1 "
               href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            </a>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
               href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            </a>

        </div>
    </div>

</section>
    </div>