<form method="POST" action="{% url 'mainapp:like' model.model_name model.pk %}">
    {% csrf_token %}
    <div class="d-flex flex-row align-items-center">
        <div class="col">
<div>
<!--        <p class="small text-muted mb-0">{{ text }}</p>-->
<button class="btn btn-link btn-xs" type="submit" name="next" value="{{ request.path }}">
    <i class="fas fa-thumbs-up mx-1 fa-s text-muted"></i>
    <span class="small text-muted mb-0">{{ model.likes.all.count }}</span>
</button>
    </div>

    </div>
        </div>
</form>

