{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %} О нас {% endblock %}
{% block content %}
<section class="u-clearfix u-section-1" id="sec-df54">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>

<section class="u-align-center u-clearfix u-section-2" id="sec-a4ee">
    <div class="u-clearfix u-sheet u-sheet-1">
        <img src="{% static 'images/mountain.jpeg' %}" alt="GOD SAVE US" width="800" height="300"/>
        <h2>Храни Господь нашу компанию</h2>
        <p>Русскоязычный веб-сайт в формате системы тематических коллективных блогов с элементами новостного сайта, созданный для публикации новостей, аналитических статей, мыслей, связанных с информационными технологиями, бизнесом и интернетом</p>
    </div>
</section>
{% endblock %}