{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="u-clearfix u-section-1" id="sec-bbc1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="index.html" data-page-id="752105316" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Вернуться назад</a>
        <a href="red_article.html" data-page-id="91474528" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-2">Редактировать статью</a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-c91d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-left-cell u-right-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <h2 class="u-text u-text-1"> Назв статьи :Lorem ipsum dolor sit amet</h2>
                      <img class="u-image u-image-default u-image-1" src="images/pexels-photo-1029615.jpeg" alt="" data-image-width="2250" data-image-height="1500">
                      <h6 class="u-text u-text-2">Автор:</h6>
                      <h6 class="u-text u-text-3">Категория:</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-6 u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2"></div>
                  </div>
                  <div class="u-container-style u-layout-cell u-right-cell u-size-54 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                      <p class="u-text u-text-default u-text-4">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim. Ut porttitor leo a diam sollicitudin. Turpis in eu mi bibendum neque egestas congue quisque egestas. Viverra adipiscing at in tellus integer. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Lectus sit amet est placerat in egestas. Cursus eget nunc scelerisque viverra mauris in. Massa massa ultricies mi quis hendrerit dolor magna eget. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Mattis enim ut tellus elementum sagittis. Aliquam ut porttitor leo a diam sollicitudin tempor id eu. Etiam tempor orci eu lobortis elementum nibh tellus molestie.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="https://nicepage.com/joomla-page-builder" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1"><span class="u-file-icon u-icon"><img src="images/126473.png" alt=""></span>&nbsp;Like
        </a>
        <a href="https://nicepage.com/joomla-page-builder" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-2"><span class="u-file-icon u-icon"><img src="images/126504.png" alt=""></span>&nbsp;DISLike
        </a>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-996b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h6 class="u-text u-text-default u-text-1">Комментарии:&nbsp;</h6>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="sec-349b">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-form u-form-1">
          <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-29 u-inner-form" style="padding: 29px;" source="custom">
            <div class="u-form-group u-label-top u-form-group-1">
              <label for="text-0535" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Ваш комментарий" id="text-0535" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
            </div>
            <div class="u-form-group u-form-submit u-form-group-2">
              <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
            <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-5" id="sec-b655">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-blog u-container-style u-expanded-width u-layout-horizontal u-blog-1">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                <h2 class="u-blog-control u-text">
                  <a class="u-post-header-link" href="blog/пост-5.html"><!--blog_post_header_content-->Заголовок 6-го поста<!--/blog_post_header_content--></a>
                </h2><!--/blog_post_header-->
                <a class="u-post-header-link" href="blog/пост-5.html"><!--blog_post_image-->
                  <img src="images/5.jpeg" alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-1"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->Пример короткого текста. Lorem ipsum dolor sit amet.<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post--><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2"><!--blog_post_header-->
                <h2 class="u-blog-control u-text">
                  <a class="u-post-header-link" href="blog/пост-4.html"><!--blog_post_header_content-->Заголовок 5-го поста<!--/blog_post_header_content--></a>
                </h2><!--/blog_post_header-->
                <a class="u-post-header-link" href="blog/пост-4.html"><!--blog_post_image-->
                  <img src="images/6.jpeg" alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-2"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->Пример короткого текста. Lorem ipsum dolor sit amet.<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post--><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3"><!--blog_post_header-->
                <h2 class="u-blog-control u-text">
                  <a class="u-post-header-link" href="blog/пост-3.html"><!--blog_post_header_content-->Заголовок 4-го поста<!--/blog_post_header_content--></a>
                </h2><!--/blog_post_header-->
                <a class="u-post-header-link" href="blog/пост-3.html"><!--blog_post_image-->
                  <img src="images/7.jpeg" alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-3"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->Пример короткого текста. Lorem ipsum dolor sit amet.<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post--><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4"><!--blog_post_header-->
                <h2 class="u-blog-control u-text">
                  <a class="u-post-header-link" href="blog/пост-2.html"><!--blog_post_header_content-->Заголовок 3-го поста<!--/blog_post_header_content--></a>
                </h2><!--/blog_post_header-->
                <a class="u-post-header-link" href="blog/пост-2.html"><!--blog_post_image-->
                  <img src="images/5.jpeg" alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-4"><!--/blog_post_image-->
                </a><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text"><!--blog_post_content_content-->Пример короткого текста. Lorem ipsum dolor sit amet.<!--/blog_post_content_content--></div><!--/blog_post_content-->
              </div>
            </div><!--/blog_post-->
          </div>
          <div class="u-list-control"></div>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        </div><!--/blog-->
      </div>
    </section>
{% endblock %}
