{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <section class="u-clearfix u-section-1" id="sec-d509">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" data-page-id="752105316" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Вернуться назад</a>
      </div>
    </section>
    <h1>{{article.title}}</h1>
    <p>Автор {{article.user}}</p>
    <p>Категория {{article.category}}</p>
    <p>{{article.article_text}}</p>

{% include "mainapp/inc/comments.html" %}

<h1>{{user}}</h1>
{% endblock %}