{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="u-clearfix u-section-1" id="sec-d509">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" data-page-id="752105316" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Вернуться назад</a>
        <a href="#" data-page-id="752105316" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-2">Снять с публикации</a>
      </div>
    </div>
</div>
    <h1>{{article.title}}</h1>
    <p>Автор {{article.author}}</p>

    <form method="POST" action="{% url 'mainapp:like' 'user' article.author.pk %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
            лайк пользователю
            <i class="far fa-thumbs-up"></i> <span>{{ article.author.likes.all.count }}</span>
        </button>
    </form>
    <p>Категория {{article.category}}</p>
    <p>{{article.article_text}}</p>
    <form method="POST" action="{% url 'mainapp:like' 'article' article.pk %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
            лайк статье
            <i class="far fa-thumbs-up"></i> <span>{{ article.likes.all.count }}</span>
        </button>
    </form>
<div class="tm-separated-list tm-article-presenter__meta-list">
    <span class="tm-separated-list__title">
        Тэги:
    </span>
    <ul class="tm-separated-list__list">
        <li class="tm-separated-list__item"></li>
        <li class="tm-separated-list__item"></li>
        <li class="tm-separated-list__item"></li>
    </ul>
</div>
<div class="media-right">
    {% if request.user.is_staff %}
  <a href="{% url 'mod:ban_article' article.pk %}" class="delete">Заблокировать</a>
    {% endif %}
</div>

{% include "mainapp/includes/comments.html" %}
<p>{{user}}</p>

{% include 'mainapp/includes/inc_carousel.html' %}


{% endblock %}