{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'main:create_article' %}">CREATE</a>
<a href="{% url 'main:update_article' 10 %}">UPDATE</a>
<a href="{% url 'main:delete_article' 10 %}">DELETE</a>

<div class="category-products clearfix">
  {% for article in articles %}
  <div class="block">
      <div class="text">
        <p>{{ article.title }} </p>
        <p>{{ article.user }} </p>
        <p>{{ article.category }} </p>
        <p>{{ article.article_text }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
