{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

<!--<div class="container-s">-->
<!--    <form method="post" id="FormOne">-->
<!--                {% csrf_token %}-->
<!--            <div class="container-s">-->
<!--                {% for field in article_create_form %}-->
<!--                <ul> {{field.label}}</ul>-->
<!--                <ul> {{field}}</ul>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--            <div >-->
<!--                <input type='submit' value="Отправить"/>-->
<!--            </div>-->
<!--    </form>-->
<!--</div>-->
    <section class="u-clearfix u-section-1" id="sec-d509">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="index.html" data-page-id="752105316" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Вернуться назад</a>
      </div>
    </section>

<div class="container-s">
    <form method="post" id="FormOne">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3 row">
                <label class="form-label">{{field.label}}</label>
                <div class="col-sm-4">{{field}}</div>
            </div>
        {% endfor %}
                    <div>
                <input type='submit' value="Отправить"/>
            </div>
    </form>
</div>

{% endblock %}
