{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

<section class="u-clearfix u-section-1" id="sec-d509">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" data-page-id="752105316"
           class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Вернуться
            назад</a>
    </div>
</section>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card col-lg-6 offset-lg-3 mb-3">
        {% for field in form %}

        <div class="card-body">
            <label class="form-label">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}

    </div>

    <div class="card col-lg-6 offset-lg-3 mb-3">
        <input type='submit' value="Отправить"/>
    </div>
</form>


{% endblock %}
