{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %} Помощь {% endblock %}
{% block content %}
<section class="u-clearfix u-section-1" id="sec-df54">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>

<section class=" u-clearfix u-section-2" id="sec-a4ee">
<div class="text-dark">
          <h5 class="u-align-center">Что можно делать на этом сайте</h5></div>

        <p class="ms-4 fs-5 lh-lg u-body text-muted d-block">

Последнее редактирование — 22 июня 2021 года.

Обычно IT-специалисты и интересующиеся данной сферой — это люди культурные, уважающие не только себя, но и собеседников
            и читателей. Чтобы ресурс мог оставаться площадкой для общения таких людей, существуют правила, за нарушение
            которых модераторы могут понизить права аккаунта до ReadOnly.


            <b>Вот список того, чего на ресурсе делать не следует: </b>
<ul class="ms-4 fs-5 lh-lg u-body text-muted d-block">

    <li><b>Рекламировать ресурсы в обход правил</b></li>

Для привлечения внимания к проектам, компаниям, коммерческим продуктам, услугам, сервисам и мероприятиям предназначены
    корпоративные блоги и хаб «Я пиарюсь». Попытки поместить их упоминания вне указанных разделов повлекут за собой
    понижение прав аккаунта.<br>

Компаниям запрещено использовать любые упоминания их средств индивидуализации, в том числе без ссылок, визуалы
    (логотипы, фирменные цвета и шрифты), информировать о вакансиях и задачах вне корпоративных блогов. Единственная
    разрешённая форма упоминания — подпись должности в компании с именем и фамилией в начале или конце публикации
    (пример: ведущий разработчик ООО «Конгресс» Сергей Малкин). Статьи с нарушениями будут скрыты модератором в
    черновики, при повторном нарушении аккаунт автора будет забанен вне зависимости от кармы.<br>

Исключения:<br>

Исключение составляют упоминания авторами своей должности в компании (без указания ссылки на сайт компании),
    своих контактных данных (включая адреса персональных аккаунтов в соцсетях), своих персональных блогов на крупных
    медиа-ресурсах (LJ, Medium и др.). Допускается упоминание профильных youtube-каналов, чатрумов и групп в соцсетях,
    не носящих названия проекта, компании, продукта, услуги, сервиса или мероприятия.<br>

Игровым проектам и разработчикам приложений, не имеющим сайта, разрешено размещать ссылки на Google Play и AppStore
    даже в случае наличия монетизации приложения или игры.<br>

Разрешается в конце публикации давать одну активную ссылку без меток и сокращений на краудфандинговые площадки:
    например, Kickstarter, Boomstarter, Planeta и Patreon и другие. При этом проект должен быть реальным и не являться
    просто виртуальным сбором денег, а публикуемый материал должен быть интересной полноценной статьёй, раскрывающей
    особенности проекта, и соответствующей тематике Хабра. Любые иные попытки собрать средства по-прежнему строго
    запрещены (включая ссылки на сборы денег в социальных сетях и на коммерческих сайтах компаний).<br>

Пользователям разрешается указывать активные ссылки без меток и сокращений на платные книги собственного авторства
    (или соавторства) в том случае, если книга размещена в официальных книжных магазинах таких как ЛитРес, МИФ, OZON,
    Amazon, books.ru и т.д. либо на официальном сайте издательства.<br>

    <li><b>Размещать видео без расшифровок и пояснительного текста</b></li>

Запрещена публикация видеороликов без подробного описания и таймкодов либо без расшифровки. Публикации, содержащие
    только видео и короткое описание, будут скрыты модератором в черновики.

    <li><b>Заниматься плагиатом</b></li>

Не следует копировать на «Хабр» тексты, опубликованные другими людьми на других ресурсах, но можно копировать
    собственные тексты, если они не нарушают правила ресурса.<br>

    <li><b>Путать сайт с Твиттером</b></li>

Односложные публикации вида «Смотрите, какую я нашел ссылку», «Chrome обновился, вот тут чейнджлог» и подобное
    не приветствуются. Даже если новость изначально короткая, постарайтесь сопроводить её развёрнутым комментарием.<br>

<li><b>Путать сайт с жалобной книгой</b></li>

Если у вас проблемы с сотовым оператором, с провайдером интернета или хостинга, или с чем-то ещё, всегда можно
    связаться со службой поддержки нужного вам ресурса. Или с компетентными органами. Но не следует использовать
    «Хабр» как рупор, дабы рассказать всем о постигшей вас ситуации.<br>

<li><b>Путать сайт с имиджбордом</b></li>

У нас не принято общаться изображениями. Изображение, иллюстрирующее вашу мысль, должно сопровождаться текстовым
    комментарием, исключающим неоднозначность его трактовки. Крупные изображения следует помещать под спойлер,
    чтобы пользователям не приходилось тратить время на их пролистывание.<br>

    <li><b>Инициировать политические дискуссии и участвовать в них</b></li>

Тематика нашего ресурса определена довольно чётко. Для рассуждений о политике есть куда более подходящие сайты.
    Но не «Хабр».<br>

<li><b>Игнорировать правила русского языка, коверкать слова, злоупотреблять смайликами</b></li>

Даже если русский язык был не самым вашим любимым предметом в школе или не является родным — проверка орфографии
    в браузере у вас наверняка есть, не стоит ею пренебрегать. Это сохранит как вашу карму от минусов, так и ваш
    аккаунт. Смайлики и emoji допустимы в статьях (в умеренных количествах), но в заголовках их лучше не использовать.<br>

<li><b>Оскорблять других пользователей, не следить за эмоциями</b></li>

Мат, оскорбления, переходы на личности, эвфемизмы, троллинг — хорошие способы быстро и надежно сменить текущий статус
    аккаунта на ReadOnly.<br>

<li><b>Беспокоить пользователей в личных сообщениях</b></li>

Не следует беспокоить пользователей: просьбами изменить чью-либо карму или рейтинг публикации; просьбами о консультации
    (для вопросов к IT-специалистам существует сервис «Хабр Q&A»); просьбами о помощи в настройке чего-либо или решении
    какой-либо задачи (для поиска помощников и исполнителей существует сервис «Хабр Фриланс»); просьбами поучаствовать
    в опросе или высказать свое мнение о чем-либо; своими резюме или предложениями трудоустройства (для поиска работы
    и работников существует сервис «Хабр Карьера»); отзывами о компании, в которой они работают или вопросами к этой
    компании; любыми обращениями, направленными на привлечение внимания к какому-либо проекту, продукту, мероприятию
    или услуге.<br>

<li><b>Создавать виртуалов</b></li>

Всегда приятно поговорить с умным человеком, но создавать для этого добавочные аккаунты и накручивать с них карму и
    голоса за публикации не стоит.<br>

Список нарушений остаётся открытым, потому что всегда можно придумать что-то, не описанное выше. В таких случаях
    модераторы руководствуются здравым смыслом и собственным чувством прекрасного. Обсуждать их решения и создавать на
    эту тему агитационные публикации не стоит — если они кого-то забанили, значит, у них была довольно веская причина.<br>

Как видите, ничего сложного в правилах нет, и мы будем признательны, если вы будете их соблюдать.<br>

<li><b>Хабраэтикет</b></li>
    <ul>
        <li>Это не рекомендации для обязательного выполнения, это — правила этикета, придерживаться которых совсем несложно.</li>

        <li>Сетевой этикет — он и на Хабре сетевой этикет.</li>

<li>Уважайте мнение других. Оно не обязано совпадать с вашим.</li>

<li>Откажитесь от постинга сообщений, направленных лишь на увеличение Хабрасилы. Стремитесь просто писать интереснее и лучше.</li>

<li>Аргументированная публикация, даже если она противоположна вашему мнению, не должна получать минус. Человек не обязан
    подстраиваться под ваши вкусы.</li>

<li>Если схожие темы неоднократно поднимаются под разными предлогами, это не значит, что надо ставить минус. Это лишь
    значит, что проблема до сих пор не решена.</li>

<li>Каждый автор имеет свою индивидуальность, потому если вы уже где-то видели подобную статью, это не значит, что в
    сообщении нет ничего нового и интересного. Вчитайтесь и вдумайтесь — поймите авторское мнение.</li>

<li>Изменение кармы несёт гораздо большую ответственность, чем выставление оценки комментарию. 1-2 комментария не должны
    становиться причиной для занижения кармы.</li>

<li>Не злоупотребляйте своей возможностью голосования. Необходимо понимать, что минус сильно отличается от плюса — минус
    угнетает человека, а не развивает его. Ставьте плюсы, когда вам что-то нравится, но подумайте, прежде чем ставить
    минус, если что-то не понравилось.</li>

<li>Первый комментарий — это не единственный комментарий в теме. Прежде чем ставить ему оценку, прочитайте ещё парочку.

<li>Минус — это не аргумент, и, тем более, не контраргумент.</li>

<li>Не стоит делать того, что не принято в цивилизованном обществе, противоречит законам, морали и этике.</li>

<li>Не делай другим то, что не хочешь получить от них сам. Поставьте себя на место человека, с которым общаетесь.</li>
    Отстаивайте свою точку зрения, но не оскорбляйте окружающих.</li>

<li>Помогайте другим там, где вы это можете делать.
    </ul>
    </p>

</section>
{% endblock %}
