{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <section class="u-clearfix u-section-1" id="sec-5da0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h6 class="u-text u-text-default u-text-1">Дизайн</h6>
        <h6 class="u-text u-text-default u-text-2">Веб-разработка</h6>
        <h6 class="u-text u-text-default u-text-3">Мобильная разработка</h6>
        <h6 class="u-text u-text-default u-text-4">Маркетинг</h6>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-9240">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-left-cell u-right-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <h2 class="u-text u-text-default u-text-1"> Lorem ipsum dolor sit amet</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-6 u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2"></div>
                  </div>
                  <div class="u-container-style u-layout-cell u-right-cell u-size-54 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                      <p class="u-text u-text-default u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim. Ut porttitor leo a diam sollicitudin. Turpis in eu mi bibendum neque egestas congue quisque egestas. Viverra adipiscing at in tellus integer. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Lectus sit amet est placerat in egestas. Cursus eget nunc scelerisque viverra mauris in. Massa massa ultricies mi quis hendrerit dolor magna eget. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Mattis enim ut tellus elementum sagittis. Aliquam ut porttitor leo a diam sollicitudin tempor id eu. Etiam tempor orci eu lobortis elementum nibh tellus molestie.</p>
                      <a href="Любая-статья.html" data-page-id="710129710" class="u-border-2 u-border-palette-2-base u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-btn-1">Читать полностью</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
