venv/
**/*.pyc
**/*.env
db.sqlite3
**/.idea/
.idea/*
.idea/
media
__pycache__/
**/.idea/habr.iml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml