.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: 24px auto 60px 0;
  padding: 8px 20px;
}