{% extends 'adminapp/base.html' %}

{% block content %}
    <h1 class="mt-4">Редактирование категории | {{ category.name }}</h1>
    <div class="card-body">
        <form action="{% url 'admin_staff:admin-categories-update' productcategory.id %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control" type="submit" value="сохранить">
        </form>
        <div class="row">
            <div class="col-lg-12" style="margin-top: 33px;">
                <form action="{% url 'admin_staff:admin-categories-remove' productcategory.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Удалить" class="btn btn-danger btn-block">
                </form>
            </div>
        </div>
    </div>
{% endblock %}